In [1]:
# Defining function

def myfunction():
    print("Hello my first function")

In [2]:
myfunction()    # Callling of  a function

Hello my first function

In [4]:
# Paramaterized function

def add(a,b):
    print(a+b)
add(4,6)

10

In [1]:
# Default paramterized function

def add(a,b=5,c=2):     # any default variables will be declared at last therefore over here b and c are followed by a
    print(a+b+c)
add(4)
add(5,6,3)              # value of default variable can also be updated while calling the function

11
14

In [7]:
# Variable length arguments denoted with ' * '

def mymethod(*a):
    print(a)
myvar = mymethod([45,17,28,97,46])

([45, 17, 28, 97, 46],)

In [14]:
# Using variable length arguments for squaring numbers

def square(*a):
    for i in a:
        print(i*i)
square(4,2,7,6)

16
4
49
36

In [12]:
# Lambda is a one line function also known as anonymous function which has no name
num = lambda a : a*5
num(14)

70

In [6]:
# Map function is used with each iterable object and will apply to each element of list

list1 = [78,23,45,67,89,123]
sqr = list(map(lambda x:x**2,list1))
print(sqr)

[6084, 529, 2025, 4489, 7921, 15129]

In [4]:
# To filter list for even numbers

sqr = list(filter(lambda x:x%2==0,list1))
print(sqr)

[78]

In [5]:
# For odd numbers

sqr = list(filter(lambda x:x%2!=0,list1))
grt = list(filter(lambda x:x>50,list1))
print(sqr)
print(grt)

[23, 45, 67, 89, 123]
[78, 67, 89, 123]

In [8]:
# Using Reduce to add elements of the list

from functools import reduce
sum = reduce(lambda x,y : x+y,list1)

In [33]:
print(sum)

425

In [2]:
# Sorting list based on second element

var1=[("Ayushi",21),("Vraj",63),("Dhruv",47)]
var1.sort(key = lambda x:x[1])
var1

[('Ayushi', 21), ('Dhruv', 47), ('Vraj', 63)]

In [54]:
# To get word of maximum length

list1=["Apple","Banana","Pineapple","Papaya","Z"]
max(list1 , key =len)

'Pineapple'

In [55]:
max(list1)  # To get word based of maximum ascii value of first alpabet

'Z'

In [50]:
min(list1)  # To get word based of minimum ascii value of first alpabet

'Apple'

In [11]:
# Countin words starting with letter 'S'
list2 = ["Ayushi","Sonakshi","Riya","Shraddha","Simran"]
count = len(list(filter(lambda list2: list2.startswith("S"), list2)))

print("Number of names starting with 'S':", count)

Number of names starting with 'S': 3